parameters:
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#is not covered by backward compatibility promise#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::statesListDeclaration\(\)#'
        -
            message: '#expects class-string, string given#'
            path: infrastructures/PHPStan/Analyser/ASTVisitor.php
        -
            message: '#string, mixed given#'
            path: infrastructures/PHPStan/Reflection/StateMethod.php
        -
            message: '#should return non-empty-string but returns string#'
            path: infrastructures/PHPStan/Reflection/StateMethod.php
        -
            message: '#Parameter \#1 \$callback of function array_map expects#'
            path: infrastructures/PHPStan/Reflection/StateMethod.php
        -
            message: '#ReflectionEnum given#'
            path: infrastructures/PHPStan/MethodsClassExtension.php
