parameters:
    level: max
    paths:
        - src/
        - infrastructures/
        - tests/fixtures/Phpstan/
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: 'phpstanApi.runtimeReflection'
        -
            message: '#is not covered by backward compatibility promise#'
        -
            message: '#expects class-string, string given#'
            path: infrastructures/PHPStan/Analyser/ASTVisitor.php
        -
            message: '#Cannot cast mixed to string#'
            path: src/Proxy/MagicCallTrait.php
        -
            message: '#Cannot cast mixed to int#'
            path: src/Proxy/ArrayAccessTrait.php
        -
            message: '#but returns mixed#'
            path: src/Proxy/IteratorTrait.php
        -
            message: '#but returns mixed#'
            path: src/Proxy/SerializableTrait.php
        -
            message: '#but returns mixed#'
            path: src/Proxy/ArrayAccessTrait.php
        -
            message: '#initializerExprTypeResolver#'
            path: infrastructures/PHPStan/Reflection/StateMethod.php
        -
            message: "#ReflectionException in PHPDoc @throws tag but it's not thrown#"

