<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" processIsolation="false" stopOnFailure="false" bootstrap="tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage/>
  <testsuites>
    <testsuite name="Teknoo Software/States Test Suite">
      <directory suffix="Test.php">tests/States</directory>
      <directory suffix="Test.php">tests/infrastructures</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>src</directory>
      <directory>infrastructures</directory>
    </include>
    <exclude>
      <directory>documentation</directory>
      <directory>demo</directory>
      <directory>licences</directory>
    </exclude>
  </source>
</phpunit>
